<div id="dev-content">
  <div class="card card-block">
    <h4 class="card-title">Roles</h4>
    <div class="flex-row">
      <a class="card-link" href="?role=super_admin">Super Admin</a>
    </div>
    <div class="flex-row">
      <a class="card-link" href="?role=admin">Admin</a>
    </div>
    <div class="flex-row">
      <a class="card-link" href="?role=moderator">Moderator</a>
    </div>
    <div class="flex-row">
      <a class="card-link" href="?role=translator">Translator</a>
    </div>
    <div class="flex-row">
      <a class="card-link" href="?role=audio_editor">Audio editor</a>
    </div>
    <div class="flex-row">
      <a class="card-link" href="?role=designer">Designer</a>
    </div>
  </div>
</div>

