table#translations .form-group {
  margin: 0;
  padding: 0;
}

table#translations td {
  padding: 3px;
  vertical-align: middle;
  position: relative;
}

table#translations textarea {
  margin-bottom: 0;
}

.translation_message {
  padding: 10px 5px !important;
}
