<div class="lter b-b wrapper-md mb-10">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="font-thin h3 m-0">Translations Images</h1>
    </div>
  </div>
</div>

<nav class="navbar navbar-default">
   <div class="d-flex flex-row" style="display:block;width:100%">
    <!-- Collect the nav links, forms, and other content for toggling -->
      <form class="navbar-form navbar-left form-inline" id="media-import-form">
        <div class="form-group">
          <label class="btn btn-primary" style="font-size:12px;">
              Import <input type="file" (change)="importHandler($event)" hidden name="strings" accept=".zip">
          </label>
        </div>
      </form>
      <div class="progress" id="media_zip_progress" *ngIf="media_zip_import_progress != null" style="max-width:30%;margin-top:20px;">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{media_zip_import_progress}}%" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
          {{media_zip_import_progress}}%
        </div>
      </div>
  </div>
</nav>
<div class="row">
  <div class="col-sm-9">
    <div class="clearfix">
      <div class="form-group pull-right">
        <a (click) = "refresh()" href="javascript:void(0)"><i class="fa fa-refresh fa-2x fa-fw"></i></a>
      </div>
    </div>
    <nav aria-label="paging" *ngIf="data != null && (state == 'init' || state == 'load' || state == 'load_empty')">
      <ul class="pager">
        <li><a (click)="loadPage(pagination.page-1)">Previous</a></li>
        <li><a (click)="loadPage(pagination.page>0?pagination.page+1:2)">Next</a></li>
      </ul>
    </nav>
    <table class="table table-striped table-hover list" id="translations" *ngIf="data != null && data.length > 0">
      <thead>
        <th>ID</th>
        <th>Content</th>
        <th>Type</th>
        <th>Moderator Comments</th>
        <th>Size</th>
        <th>Old Image Size</th>
        <th>Size relative to average</th>
        <th style="width:150px;">Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let t of data" (click)="translationRowClick($event,t)">
          <td>{{t.id}}</td>
          <td>{{t.text}}</td>
          <td>{{t.image().instructions}}</td>
          <td>{{t.image().note.text}}</td>
          <td>{{t.image().filesize}}</td>
          <td>{{t.prev_image().filesize}}</td>
          <td>50</td>
          <td>
            <div class="form-group">
              <label class="btn btn-primary btn-xs" style="font-size:12px;">
                  <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;&nbsp;Upload<input type="file" (change)="importOneHandler($event,t)" hidden name="strings" accept="image/*">
              </label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-info notification" *ngIf="data != null && data.length==0 && ( state == 'load_empty' )">Empty Result</div>
    <nav aria-label="paging" *ngIf="data != null && (state == 'init' || state == 'load' || state == 'load_empty')">
      <ul class="pager">
        <li><a (click)="loadPage(pagination.page-1)">Previous</a></li>
        <li><a (click)="loadPage(pagination.page>0?pagination.page+1:2)">Next</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-sm-3">
    <translation-info [translation]="selected_translation" *ngIf="selected_translation != null"></translation-info>
  </div>
</div>
